<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>
    
    
    
	<link rel="stylesheet" href="<?=DIST?>assets/compiled/css/app.css">
	<link rel="stylesheet" href="<?=DIST?>assets/compiled/css/app-dark.css">
	<link rel="stylesheet" href="<?=DIST?>assets/compiled/css/iconly.css">

	<style>
	</style>
	
</head>

<body>
	<script src="<?=DIST?>assets/static/js/initTheme.js"></script>
    <div id="app">
		<!--  -->
		<?php include 'sidebar.php'; ?>
		<!--  -->
		<div id="main">
			<div class="container-xxl">
				<!-- Đầu trang -->
				<div class="page-heading">
					<header class="navbar mb-3">
						<a href="#" class="burger-btn d-block d-xl-none">
							<i class="bi bi-justify fs-3"></i>
						</a>
						<div class="logo fs-1">
							<a href="<?=ROOT?>page">Move</a>
						</div>

						<?php include 'dropdown.php'; ?>
					</header>
				</div> 
				
				<!-- Nội dung -->
				<div class="page-content"> 
					<!-- Poster -->
					<div class="card" >
						<div class="row">

							
						</div>
					</div>

					<!-- Phim đang chiếu -->
					<div class="card">
						<div class="card-header fs-3">
							Phim đang chiếu
						</div>
						<div class="row">
						</div>
					</div>
					
					<!-- Phim sắp chiếu -->
					<div class="card">
						<div class="card-header fs-3">
							Phim sắp chiếu
						</div>	
					</div>

					<!-- Khuyến mãi -->
					<div class="card">
						<div class="card-header fs-3">
							Khuyến mãi
						</div>	
					</div>

					<!-- Tin tức -->
					<div class="card">
						<div class="card-header fs-3">
							Tin tức
						</div>	
					</div>			
				</div>
			</div>

			<!-- Footer -->
			<?php include 'footer.php'; ?>

        </div>
    </div>
    <script src="<?=DIST?>assets/static/js/components/dark.js"></script>
    <script src="<?=DIST?>assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="<?=DIST?>assets/compiled/js/app.js"></script>
    

    
	<!-- Need: Apexcharts -->
	<script src="<?=DIST?>assets/extensions/apexcharts/apexcharts.min.js"></script>
	<script src="<?=DIST?>assets/static/js/pages/dashboard.js"></script>
    
    

</body>

</html>